* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
}
body {
    width: 100vw;
    height: 1200px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
}
/* ehnii heseg ehelseen */
.IP6s {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ehnih {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*  ehnii heseg duussan */

/* 2dah hesegiin ehlel */
.landing {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
#land {
    width: 220px;
}
/* 2dah heseg duussan */

/* 3dah heseg ehlev */
.learn {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f8f9;
    padding: 0 180px 0 180px;
    gap: 10px;
}
#down {
    color:cadetblue;
}
.caps {
    font-size: 12px;
    color: #9fa3a7;
    letter-spacing: 2.4px;
}
.greytxt {
    color: #9fa3a7;
    font-size: 14px;
}
/* 3rd place end */

/* 4duh n */
#keybrd {
    width: 320px;
}
#learn {
    color: #ffc80a;
    letter-spacing: 1.2px;
    text-decoration: none;
}
strong {
    color: #FFFFFF;
    font-size: 22px;
}
.newbrand {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f05638;
    gap: 20px;
}
/* end here */

/* 5dah ni */
.imac {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.block {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#macin {
    position: relative;
    right: 150px;
}
/* 5dh n duusav */

/* 6dh n ehlev */
.info {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tiim {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.graytxt {
    font: 22px;
    color: #9fa3a7;
}
/* 6dh n duusav */

/* 7dh n ehlev */
.icloud {
    grid-row: 2 / 4;
    grid-column: 4 / 5;
    background-color: #8f76bc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.floppyContainer {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: #8166b0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#floppy {
    width: 220px;
    height: 220px;
}
.pop {
    color: white;
    letter-spacing: 2px;
    background-color: #8f76bc;
    border-radius: 20px;
    padding: 1px 5px 1px 5px;
}
.meet {
    color: white;
    letter-spacing: 2px;
}
#bttn { 
    cursor: pointer;
    background-color: #ffc80a;
    border: 0;
    border-radius: 40px;
    padding: 20px 40px 20px 40px;
    letter-spacing: 2px;
}
/* 7 duusav */

/* 8 ehlev */
.ourpasion {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#gamejolt {
    width: 250px;
    height: auto;
    position: relative;
    right: 20px;
}
.heading-6 {
    font-size: 22px;
    width: 100px;
}
/* 8 duusav */

/* 9 ehlev */
.explore {
    background-color: #93b6b7;
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.best {
    letter-spacing: 2px;
    font-size: 10px;
    color: white;
    background-color: #fa684f;
    padding: 4px 8px 4px 8px;
    border-radius: 5px;
    position: relative;
    bottom: 30px;
    right: 320px;
}
.much {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#ipad {
    width: 550px;
    position: relative;
    right: 60px;
}
/* 9 end */

/* 10 strt */
.twitter {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    background-color: #38d5f4;
    display: flex;
    justify-content: center;
} 
.circle {
    width: 300px;
    background-color: #35cfed;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.txt {
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 10 end */

/* 11 strt */
.expe { 
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.pop1 {
    color: white;
    background-color: #7bc424;
    padding: 5px 10px 5px 10px;
    letter-spacing: 2px;
    font-size: 10px;
    border-radius: 8px;
}
.xtx {
    font-size: 22px;
}
/* 11 end */

/* 12strt */
.TV {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    background-color: #2c2c2c;
}
#tv {
    width: 280px;
    position: relative;
    left: 100px;
}
/* 12 end */

/* 13 */
.title {
    grid-row: 4 / 5;
    grid-auto-flow: 4 / 5;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
#last {
    width: 200px;
    height: 50px;
}